{{>layouts/header}}
<form class="container" action="/articles/posts" method="post">
    <input type="text" class="form-control" name="title">
    <textarea class="form-control" rows="3" name="content"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles">back</a>
</form>
{{>layouts/footer}}